.container{
  display: flex;
  flex-direction: column;
  padding: 0px 5rem; 
  @media screen and (max-width: 768px) {
    padding: 0px 1rem;
  }
}
.subtitle{
  display:flex;
  /* justify-content:flex-end; */
}


.headerContainer{
  display: block;
  padding: 0 0 3rem 0;
  @media screen and (max-width: 768px) {
    padding: 0 0 1em 0;
  }

}

