.row{
    margin-bottom: 10px;
}
.solutionContainer{
    display: flex;
    border : 1px solid gray;
    border-radius: 5px;
    padding: 1rem 1rem;

    width:fit-content;
    justify-content: center;
    align-items: center;
  }
